.tw-bi-rebate-ext {
  .rebate-table {
    border-collapse: collapse;
    td {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .looker-components-reset {
    height: 100%;
  }
}
