.tw-bi-rebate-ext {
  .rebate-table {
    border-collapse: collapse;
    th {
      white-space: pre-line;
    }
    td {
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .looker-components-reset {
    height: 100%;
  }
}
